<div class="typography-demo-container">
  <h1>Typography Demo</h1>
  <storey-typography variant="heading-lg">
    Heading Large Example
  </storey-typography>

  <storey-typography variant="heading-sm">
    Heading Small Example
  </storey-typography>

  <storey-typography variant="body-lg">
    Body Large Example
  </storey-typography>

  <storey-typography variant="body-md">
    Texto centrado con body-md
  </storey-typography>

  <storey-typography variant="body-sm">
    Texto centrado con body-sm
  </storey-typography>
</div> 